<div id="category-menu" class="category-menu">
        <div class="category-menu__wrapper">
            <div class="category-menu"></div>
        </div>
</div>

{% schema %}
{
    "name": "Category Menu",
    "tag": "section",
    "class": "categpry-menu",
    "max_blocks": 4,
    "blocks": [
        {
        "name": "Menu Item",
        "type": "image_picker",
        "settings": [
            {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Menu image"
            },
            {
            "type": "text",
            "id": "menu_title",
            "label": "Menu Title"
            },
            {
            "type": "page",
            "id": "menu_page",
            "label": "Menu Page"
            }
        ]
        }
    ],
    "presets": [
        {
        "name": "Category Menu",
        "blocks": [
            {
            "type": "image_picker"
            }
        ]
        }
    ]
}
{% endschema %}