<div id="category-menu" class="category-menu">
    <div class="category-menu__wrapper">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'image_picker' %}
                <div class="category-menu">
                    <a href="{{ block.settings.menu_page }}">
                        <div class="category-menu__image">
                            {{ block.settings.menu_image | image_url: width: 650 | image_tag }}
                        </div>
                        <div class="category-menu__title">
                            <h2>{{ block.settings.menu_title | escape }}</h2>
                        </div>
                    </a>
                </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Category Menu",
    "tag": "section",
    "class": "categpry-menu",
    "max_blocks": 4,
    "blocks": [
        {
        "name": "Menu Item",
        "type": "image_picker",
        "settings": [
            {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Menu image"
            },
            {
            "type": "text",
            "id": "menu_title",
            "label": "Menu Title"
            },
            {
            "type": "page",
            "id": "menu_page",
            "label": "Menu Page"
            }
        ]
        }
    ],
    "presets": [
        {
        "name": "Category Menu",
        "blocks": [
            {
            "type": "image_picker"
            }
        ]
        }
    ]
}
{% endschema %}