section .marquee-text {
    font-size: 50px;
    color: #000;
    font-family: Playfair Display;
    height: 100px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-style: italic;
    margin: 50px 0;
}

.marquee-text .marquee-text__wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100px;
}

.marquee-text .marquee-text__item {
    white-space: nowrap;
    line-height: 1;
    margin-top: 20px;
}

@media screen and (max-width : 768px) {
    section .marquee-text {
        font-size: 25px;
        height: 75px;
    }
}